@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("/Images/BgImage.jpg");
    background-position: center center;
    background-size: max(1300px, 110vw);
    background-repeat: no-repeat;
    height: 728px;
    position: relative;
}
.kkl{
    padding: 5px 15px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: 1px solid #c6c3c373;
    cursor: pointer;
}

.main .box {
    height: 728px;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 76vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
}

nav img {
    color: red;
    width: 146px;
    position: relative;
    z-index: 10;
}

nav button,
select,option {
    position: relative;
    z-index: 10;
}
.bbb {
    position: absolute;
    z-index: 10;
    padding: 6px 5px;
}

option{
    color: black;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 14px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}

.end {
    color: white;
    margin-top: 11px;
}

.btnnkk
{
        margin-left: 299px;
        height: 100px;
        margin-top: -25px;
}

.btnn{
        display: flex;
        gap: 22px;
}
.kkjjhhy{
    font-size: 29px;
    margin-left: 47px;
    margin-top: 27px;
}

.imgg {
    height: 69px;
    border: 1px;
    /* z-index: 10px; */
    padding-left: 13px;
    width: 66px;
    padding-top: 8px;
}

.kkhhk{
        margin-left: 17px;
        margin-top: 20px;
}

.iconn{
    padding-left: 20px;
    height: 50px;
    width: 50px;

}

.ilast{
    display: flex;
    height: 80px;
    position: absolute;
    flex-direction: row;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: 0.1px solid #ffffff73;
    cursor: pointer;
    max-width: 320px;
}

#lata{
        font-size: 13px;
        color: #5555ff;
}

.whitey{
    display: flex;
    height: 94px;
    position: absolute;
    flex-direction: row;
    font-weight: 400;
    color: white;
    cursor: pointer;
    width: 350px;
    margin-top: 359px;
    margin-left: 140px;
    background-color: black;
    border-radius: 14px;
    border: 2px solid #605b5b;
}

.btn {
    padding: 5px 15px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: 0.1px solid #ffffff73;
    cursor: pointer;
}

.btnnn {
    padding: 4px 25px;
    font-weight: 400;
    color: white;
    width: 125px;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 8px 24px;
    font-size: 24px;
    border-radius: 4px;
    font-weight: 500;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.main input {
    padding: 13px 1px 16px 9px;
    color: white;
    font-size: 16px;
    width: 392px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}

.secImg,.secImgkl {
    position: relative;
}
.secImgg{
    position: relative;
}

.secImg img ,.secImgkl img{
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}

.secImgkl video {
    position: absolute;
    top: 67px;
    right: 106px;
    width: 344px;
}


.tomi{

}
section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 46px;
    font-weight: bolder;
}


section.first>div :nth-child(2) {
    font-size: 24px;
}


.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background: black;
    color: white;
    padding: 34px;
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 10px auto;
    cursor: pointer;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 18px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}



@media screen and (max-width: 1300px) {

    nav {
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item {
        align-items: center;
    }


}



@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}


.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.heros {
    padding: 52px;
}

.heros> :nth-child(1) {
    display: flex;
    font-size: 24px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
}

.heros-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 15px;
}

.faq input {
    padding: 13px 1px 16px 9px;
    color: white;
    font-size: 16px;
    width: 392px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.default-ltr-cache-1q4up1i {
    width: 4rem;
    height: 5rem;
    outline: 2px solid rgb(0,0,0);
    outline-offset: -2px;
    display: block;
    background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif) center center no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    content: '';
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-left: 50px;
}
div {
    display: block;
}
.default-ltr-cache-pv2edp {
    margin: auto;
    max-width: calc( 100% - 3rem );
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}
.default-ltr-cache-v2xv94 {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    color: rgb(255,255,255);
    text-align: center;
    height: 100%;
    box-sizing: border-box;
    min-height: auto;
    padding: 3.5rem 0;
}
.netflix-sans-font-loaded {
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}

#jjk{
    font-size: 14px;
}